@model IEnumerable<ViewDataFromDB.Models.Ve>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoaiVe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaVe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuKien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuKien.DiaDiem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaVe">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaVe">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaVe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
